Package: securitas-wall
Version: 1.0-8
Section: base
Priority: optional
Architecture: all
Depends: clamav (>= 0.100.3),squidguard, c-icap (>= 1.0.5), libicapapi-dev, openssh-server, libssl-dev
Maintainer: AckDev Inc. <support@ackdev.com>
Description: Secure Wall Transparent SSL Proxy Server
