Package: securitas-wall-webadmin
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: lighttpd, php-cgi, php-mcrypt, php-cli, php-mysql, php-gd, php-imagick, php-recode, php-tidy, php-xmlrpc, libterm-readline-gnu-perl, vnstat
Maintainer: AckDev Inc. <support@ackdev.com>
Description: SecureWall WiFi Router - WebAdmin
