/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.form-container {
  display: flex;
  flex-direction: column;
  padding:8px;
}
.form-container > * {
  width: 100%;
}
.customWidthClass{
   flex: 0 0 150px;
}
.customFieldAction{
   flex: 0 0 80px;
}
.customFieldName{
   flex: 0 0 150px;
}

#content{
	height: 90%;
	margin: 5px;
}

#left {
	float: left;
	height: 100%;
	width: 30%;
	overflow: scroll;
}

#right {
	float: left;
	width: 70%;
	height: 100%;
	overflow: auto;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

.Site-content {
  flex: 1;
}
html, body {}
body {font-family: Roboto, "Helvetica Neue", sans-serif; }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.flex-col-scroll {
  flex-grow: 1;
  overflow: auto;
  min-height: 100%;
}

.flex-no-shrink {
  flex-shrink: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
/*   background-color: red; */
/*   color: white; */
/*   text-align: center; */
}
