Package: securitas-wall-tomcat
Version: 1.0-4
Section: base
Priority: optional
Architecture: all
Depends: openjdk-11-jre-headless
Maintainer: AckDev Inc. <support@ackdev.com>
Description: Secure Wall Tomcat Administration


