<mat-card [style.display]="showPage ? 'block' : 'none'"> <mat-card-title>Data
Source: {{dataSource.ds_name}}</mat-card-title> <mat-card [hidden]="!dataSource.error"> <mat-card-title>Error
occurred during scanning {{dataSource.ds_name}}, person(s)
responsible for source should correct (DBA or developers) should
correct:</mat-card-title>
{{dataSource.error}}</mat-card>
<mat-card [hidden]="!dataSource.lastScanned">Last scanned: {{dataSource.lastScanned | date:'medium'}}</mat-card>
<br/>
<div class="form-container">
  <mat-form-field hintLabel="Enter a descriptive name">
    <input matInput [formControl]="ds_name"  #input maxlength="80" placeholder="DataSource Name" required>
    <mat-hint align="end">{{input.value?.length || 0}}/80</mat-hint>
    <mat-error *ngIf="ds_name.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

	<div class="form-group">
		<label for="driver">Description</label>
		<textarea style="width: 100%" type="text" class="form-control"
			#shortName id="description" name="description"
			[(ngModel)]="dataSource.description"></textarea>
		<small id="emailHelp" class="form-text text-muted">ex.
			Database responsibilities</small>
	</div>

	<div class="form-group">
		<label for="ds_name">Tags</label> <input #tags style="width: 100%"
			type="text" class="form-control" name="tags"
			[(ngModel)]="dataSource.tags"> <small id="emailHelp"
			class="form-text text-muted">Comma separated list of
			tags/labels</small>
	</div>
	<div class="form-group">
		<label for="LOG">LOB</label> <input style="width: 100%" type="text"
			class="form-control" name="lob" [(ngModel)]="dataSource.lob">
		<small id="emailHelp" class="form-text text-muted">Owning Line
			of Business</small>
	</div>
	<div class="form-group">
		<label for="informationOwner">Information Owner</label> <input
			style="width: 100%" type="text" class="form-control"
			name="informationOwner" [(ngModel)]="dataSource.informationOwner">
		<small id="emailHelp" class="form-text text-muted">Data
			ownership is the act of having legal rights and complete control over
			a single piece or set of data elements. It defines and provides
			information about the rightful owner of data assets and the
			acquisition, use and distribution policy implemented by the data
			owner.</small>
	</div>
	<div class="form-group">
		<label for="responsibleDBA">Responsible DBA</label> <input
			style="width: 100%" type="text" class="form-control"
			name="responsibleDBA" [(ngModel)]="dataSource.responsibleDBA">
		<small id="emailHelp" class="form-text text-muted">Database
			Administration contact person or group</small>
	</div>

	<div class="card-body">
		<h5 class="card-title">Data Source Configuration</h5>

		<div class="form-group">
			<label for="DSN">Connection String</label> <input style="width: 100%"
				type="text" class="form-control" #DSN [(ngModel)]="dataSource.dsn"
				name="DSN" id="DSN"> <small id="emailHelp"
				class="form-text text-muted">ex.
				jdbc:mysql://localhost:3306/konakart?useLegacyDatetimeCode=false&serverTimezone=UTC
			</small>
		</div>
		<div class="form-group">
			<label for="username">User name</label> <input #ds_name
				style="width: 100%" type="text" class="form-control" id="username"
				name="username" [(ngModel)]="dataSource.username"> <small
				id="emailHelp" class="form-text text-muted"></small>
		</div>
		<div class="form-group">
			<label for="ds_name">Password</label> <input style="width: 100%"
				type="text" class="form-control" #password id="password"
				name="password" [(ngModel)]="dataSource.password"> <small
				id="emailHelp" class="form-text text-muted"></small>
		</div>
		<div class="form-group">
			<label for="driver">Select Database Driver</label>
			<mat-select [(value)]="dataSource.driver"> <mat-option
				value="oracle.jdbc.driver.OracleDriver">Oracle Driver</mat-option> <mat-option
				value="com.ibm.db2.jdbc.net.DB2Driver">DB2 Driver</mat-option> <mat-option
				value="com.microsoft.sqlserver.jdbc.SQLServerDriver">Microsoft
			SQL Server Driver</mat-option> <mat-option value="org.mariadb.jdbc.Driver">MariaDB
			Driver</mat-option> <mat-option value="com.mysql.cj.jdbc.Driver">MySql
			Driver</mat-option> <mat-option value="net.sourceforge.jtds.jdbc.Driver">TDS
			Microsoft Driver</mat-option> <mat-option value="org.postgresql.Driver">Postgres
			Driver</mat-option> <mat-option value="com.informix.jdbc.IfxDriver">Informix
			Driver</mat-option> <mat-option value="org.apache.derby.jdbc.EmbeddedDriver">Derby
			Driver</mat-option> </mat-select>
			<small id="emailHelp" class="form-text text-muted">Or enter
				one below ex. com.mysql.cj.jdbc.Driver</small> <input #driver
				style="width: 100%" type="text" class="form-control" id="driver"
				name="driver" [(ngModel)]="dataSource.driver">
		</div>
	</div>

	<mat-spinner *ngIf="showScanSpinner" [diameter]="20"
		ProgressSpinnerMode='indeterminate'> </mat-spinner>

	<div class="col-md-12">

		<button type="button" title="Save Data Source" data-toggle="tooltip"
			data-placement="top" class="fas fa-save btn btn-primary mb-2"
			(click)="save(dataSource)"></button>
		&nbsp;
		<button type="button" title="Scan" data-toggle="tooltip"
			data-placement="top" class="fa fa-vial btn btn-primary mb-2"
			[disabled]="isNotSaved" (click)="scan(dataSource)"></button>
		&nbsp;
		<!--      <button type="button" title="Clone" data-toggle="tooltip" data-placement="top"
                      class="fa fa-copy btn btn-primary mb-2" [disabled]="isNotSaved"
              >
              </button>&nbsp;-->

		<button type="button" title="Soft Delete" data-toggle="tooltip"
			data-placement="top" class="fa fa-trash btn btn-primary mb-2"
			[disabled]="isNotSaved" (click)="delete(dataSource)"></button>
	</div>
	Entered Date: {{dataSource.enteredDate | date:'medium'}}<br />
	Last Changed Date: {{dataSource.changedDate | date:'medium'}}<br /> Changed By: {{dataSource.changedBy}}<br /> Expiration
	Date: {{dataSource.expirationDate | date:'medium'}}<br />
</div>
<a routerLink="ds_fields/{{dataSource.id}}" routerLinkActive="active">Show
	All Fields</a> <app-table-list></app-table-list> </mat-card>
