<div class="card">
  <div class="card-body">
    <h5 class="card-title">Data Source List</h5>
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center" style="display:none;">ID</th>
          <th class="text-center">Action</th>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Tags</th>
          <th class="text-center">Effective Date</th>
        </tr>
        <tr *ngFor="let ds of dss; let id = index">
          <td>
            <button class="fas fa-edit btn btn-success" title="Edit Data Source" data-toggle="tooltip"
                    data-placement="top"
                    (click)="editDS(ds)" style="margin-left: 3px;"></button>
            <button class="fas fa-address-book btn btn-success" title="List Tables" data-toggle="tooltip"
                    data-placement="top"
                    routerLink="/tables/{{ds.id}}" style="margin-left: 3px;"></button>
            <button class="fas fa-book-open btn btn-success" title="List Fields" data-toggle="tooltip"
                    data-placement="top"
                    routerLink="/ds_fields/{{ds.id}}" style="margin-left: 3px;"></button>
          </td>
          <td>
            <span (keyup)="changeValue(id, 'ds_name', $event)" (blur)="updateList(id, 'ds_name', $event)"
                  contenteditable="true">{{ds.ds_name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'description', $event)"
                  (blur)="updateList(id, 'description', $event)">{{ds.description}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'tags', $event)"
                  (blur)="updateList(id, 'tags', $event)">{{ds.tags}}</span>
          </td>
          <td>
            <span contenteditable="false">{{ds.effectiveDate | date:'yyyy-MM-dd'}}</span>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
