<mat-card [style.display]="showPage ? 'block' : 'none'"> As of {{today |
date:'medium'}} there are {{dss.dscount}} Data Source(s),
{{dss.tableCount}} tables and {{dss.fieldCount}} fields.<br />
<div *ngIf="dss.dscount===0">
	Click Add New Data Source to begin.
	<hr />
	Captures detailed information about the business data, such as standard
	definitions of data elements and their meanings. While a conceptual or
	logical Entity Relationship Diagram will focus on the high-level
	business concepts, a Data Dictionary will provide more detail about
	each attribute of a business concept.
	<div>
		<br>
	</div>
	<div>Captures and documents:</div>
	<div>
		<ul>
			<li>Database Description &amp; Tags/Labels</li>
			<li>Table Description &amp; Tags/Labels</li>
			<li>Field Description &amp; Tags/Labels</li>
			<li>CIA Triad</li>
			<ul>
				<li>Confidentiality Controls</li>
				<li>Integrity Controls</li>
				<li>Availability Controls</li>
			</ul>
			<li>Source System of Record</li>
			<li>Information Owner</li>
			<li>Responsible DBA (Database Administration contact person or
				group)</li>
			<li>Owning Line of Business (LOB)</li>
		</ul>
		<div>Scheduled automatic scanning of Database Schemas.&nbsp; Supports:</div>
	</div>
	<div>
		<ul>
			<li>Oracle</li>
			<li>DB2</li>
			<li>Microsoft SQL Server</li>
			<li>MariaDB</li>
			<li>Derby</li>
			<li>Informix</li>
			<li>MySQL</li>
			<li>Postgres</li>
			<li>Derby</li>
		</ul>
	</div>
</div>
</mat-card>

