<div>
		<div id="left" style="overflow: hidden;" class="form-container">
				<ng-template #itemTemplate let-item="item"
						let-onCollapseExpand="onCollapseExpand"
						let-onCheckedChange="onCheckedChange">

				<div class="form-inline row-item">
						<i *ngIf="item.children" (click)="onCollapseExpand()"
								aria-hidden="true" class="fa"
								[class.fa-caret-right]="item.collapsed"
								[class.fa-caret-down]="!item.collapsed"></i>
						<label class="form-check-label" (click)="onNodeSelect(item)">{{
								item.text }}</label>
				</div>
				</ng-template>
				<a (click)="newDataSource()" style="color: blue;">Add New Data
						Source</a>
				<ngx-treeview style="width:95%;height:95%" [config]="config"
						[items]="items" (filterChange)="onFilterChange($event)"
						(selectedChange)="onSelectedChange($event)"
						[itemTemplate]="itemTemplate"> </ngx-treeview>
		</div>
		<div id="right" class="form-container">
				<app-welcome-page></app-welcome-page>
				<app-data-source (editParentDS)="onEditParentDS($event)"></app-data-source>
				<app-table></app-table>
				<app-field></app-field>
		</div>

</div>
