<div class="form-container mat-elevation-z2" style="padding:8px;" [style.display]="showPage ? 'block' : 'none'">
<mat-card-title><mat-form-field
	class="example-full-width"> <input name="filterTerm"
	matInput placeholder="Field List Filter" [(ngModel)]="filterTerm"> </mat-form-field>
<button mat-button (click)="filter()">Filter</button>
<button mat-button (click)="clearFilter()">Clear</button>
</mat-card-title> <mat-spinner *ngIf="showScanSpinner" [diameter]="20"
	ProgressSpinnerMode='indeterminate'> </mat-spinner>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customFieldAction'"> Action </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customFieldAction'"> 
        <button class="fas fa-edit btn btn-success" title="Edit Field"
					data-toggle="tooltip" data-placement="top" (click)="edit(element.id)"
					style="margin-left: 3px;"></button> 
         </mat-cell>
      </ng-container>
<!--       <ng-container matColumnDef="dsName" > -->
<!--         <mat-header-cell *matHeaderCellDef> DataSource </mat-header-cell> -->
<!--         <mat-cell *matCellDef="let element"> {{element.dsName}} </mat-cell> -->
<!--       </ng-container> -->
<!--       <ng-container matColumnDef="tableName" > -->
<!--         <mat-header-cell *matHeaderCellDef> Table </mat-header-cell> -->
<!--         <mat-cell *matCellDef="let element"> {{element.tableName}} </mat-cell> -->
<!--       </ng-container> -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
        <mat-cell *matCellDef="let element"><span (mouseover)="previewHoverData(element)"> {{element.name}} </span></mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.description">
            {{element.description}}
          </ng-container>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('description',element, $event)">
            <inline-edit [value]="element.description"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.tags">
            {{element.tags}}
          </ng-container>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('tags',element, $event)">
            <inline-edit [value]="element.tags"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sor">
        <mat-header-cell *matHeaderCellDef> SOR </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.sor">
            {{element.sor}}
          </ng-container>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('sor',element, $event)">
            <inline-edit [value]="element.sor"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="confidentiality_control">
        <mat-header-cell *matHeaderCellDef> Confidentiality Controls </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.confidentiality_control">
            {{element.confidentiality_control}}
          </ng-container>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('confidentiality_control',element, $event)">
            <inline-edit [value]="element.confidentiality_control"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="integrity_control">
        <mat-header-cell *matHeaderCellDef> Integrity Controls </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.integrity_control">
            {{element.integrity_control}}
          </ng-container>
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('integrity_control',element, $event)">
            <inline-edit [value]="element.integrity_control"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="availability_control">
        <mat-header-cell *matHeaderCellDef> Availability Controls </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.availability_control">
            {{element.availability_control}}
          </ng-container>
<!--           <span *ngIf="!element.availability_control"> -->
<!--             Add tag(s) -->
<!--           </span> -->
          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update('availability_control',element, $event)">
            <inline-edit [value]="element.availability_control"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      </mat-table>
</div>

