Package: securitas-wall-host
Version: 1.0-3
Section: base
Priority: optional
Architecture: all
Depends: hostapd, bridge-utils, dnsmasq,build-essential,bc, libelf-dev, raspberrypi-kernel-headers,dkms,net-tools, arpwatch
Maintainer: AckDev Inc. <help@ackdev.com>
Description: Secure Wall Host support files
